<div class="container mt-3" *ngIf="status == 'success'">
    <div class="text-center">
        <h1 class="display-3">{{ post.title }}</h1>

        <a type="button" class="btn btn-info mb-3" [routerLink]="['/posts/category/', post.category.id]">
            {{ post.category.name }}
            <span *ngIf="numberPostsCategory > 0 && statusNumber == 'successNumber'" class="badge bg-secondary">
                {{ numberPostsCategory }}
            </span>
        </a>

        <figcaption class="blockquote-footer">
            <cite title="Source Title">{{ post.user.name + ' ' + post.user.surname }}</cite>
            &nbsp;
            <strong>{{ getTime(post.created_at) }}</strong>
        </figcaption>
    </div>

    <div class="mt-4">
        <p class="mt-4 mb-4 lead card-body" [froalaView]="post.content"></p>
        <img *ngIf="post.image" src="{{ url+'post/image/'+post.image }}" class="img-fluid mx-auto d-block" alt="Imagen del post">
    </div>
</div>