<div class="container text-center" *ngIf="user">
    <h1 class="mt-4 mb-2">{{ user.name + ' ' + user.surname }}</h1>

    <div *ngIf="user && user.image" class="container mb-3 text-center">
        <img src="{{ url+'avatar/'+user.image }}" alt="Avatar" class="img-fluid img-rounded"/>
    </div>

    <div>
        <h4 class="text-muted">{{ user.email }}</h4>
    </div>

    <hr>

    <ul class="list-group mb-4" *ngIf="posts">
        <h1 class="display-3 mb-3">Tus posts</h1>
        <a [routerLink]="['/post/', post.id]" *ngFor="let post of posts"
        class="list-group-item list-group-item-action list-group-item-dark d-flex">
            <strong>{{ post.title }}</strong>&nbsp;
            <span>Publicado el {{ getTime(post.created_at) }}</span>
        </a>
    </ul>
</div>