<div class="container ">
    
    <h1 class="mt-4 mb-2">Actualiza tus datos</h1>

    <form #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
        <div class="form-group">
            <label for="name">Nombre(s)</label>
            <input type="text" class="form-control"
                name="name" placeholder="Introduce tu nombre"
                #name="ngModel" [(ngModel)]="user.name" required  pattern="[a-zA-Z ]{2,254}"
                [ngClass]="{ 'is-invalid' : name.invalid && name.touched,
                'is-valid' : name.valid && name.touched }">
            <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                El nombre no es valido.
            </small>
        </div>

        <div class="form-group">
            <label for="surname">Apellidos</label>
            <input type="text" class="form-control" name="surname"
                placeholder="Introduce tus apellidos" #surname="ngModel" [(ngModel)]="user.surname" required
                [ngClass]="{ 'is-invalid' : surname.invalid && surname.touched,
                'is-valid' : surname.valid && surname.touched }"  pattern="[a-zA-Z ]{2,254}">
            <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
                El apellido no es valido.
            </small>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" class="form-control" aria-describedby="emailHelp"
                placeholder="Introduce tu email" #email="ngModel" [(ngModel)]="user.email"
                required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="5"
                [ngClass]="{ 'is-invalid' : email.invalid && email.touched || emailTaken,
                'is-valid' : email.valid && email.touched }">
            <small id="emailHelp" class="form-text text-muted">No compartiremos tu email con nadie.</small>
            <small *ngIf="!email.valid && email.touched && !emailTaken" class="invalid-feedback d-block">
                El email no es valido.
            </small>
            <small *ngIf="emailTaken" class="invalid-feedback d-block">
                Este email ya est&aacute; en uso.
            </small>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Sobre m&iacute;</label>
            <textarea froalaEditor="froala_options" class="form-control" name="description"
            rows="3" #description="ngModel" [(ngModel)]="user.description">{{ user.description }}</textarea>
        </div>

        <div class="mb-3 text-center">
            <label for="formFile" class="form-label">Im&aacute;gen de perfil</label>
            <angular-file-uploader
                [config]="afuConfig"
                [resetUpload]=resetVar
                (ApiResponse)="avatarUpload($event)">
            </angular-file-uploader>
        </div>

        <div *ngIf="identity &&identity.image" class="container mb-3 text-center">
            <img src="{{ url+'avatar/'+user.image }}" alt="Avatar" class="img-fluid img-rounded"/>
        </div>

        <div *ngIf="status == 'success'" class="alert alert-success" role="alert">
            El usuario se ha actualizado correctamente!
            <a [routerLink]="['/perfil']" class="alert-link">Regresa a tu perfil</a>
        </div>

        <div *ngIf="status == 'fail'" class="alert alert-danger" role="alert">
            No se ha podido actualizar el usuario.
        </div>

        <button type="submit" class="btn btn-dark" [disabled]="userEditForm.invalid">Guardar</button>
        
        <small *ngIf="!userEditForm.valid" class="invalid-feedback d-block mb-2">
            Debes completar todos los campos.
        </small>
    </form>
    <br>
</div>